<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>VWR Circulating Bath Login</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css" type="text/css">
    </head>

    <body>
        <div class="login-body">
            <div class="container cell-table">
                <div class="row top cell">
                    <div class="col-xs-12">
                        <form action="/login" method="POST" class="login-form">
                          <img class="login-img" src="https://us.vwr.com/stibo/low_res/std.lang.all/53/83/7545383.jpg" />
                            <p><input class="login-input" type="password" name="password" /><p>
                            <p><button class="login-button" type="submit">Log In</button></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
